#cover-background.site-dev {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='300px'><text x='50' y='80' fill='red' fill-opacity='0.2' font-size='20'>Site de test !!!</text></svg>") !important;
}

.subRow{ margin-left: 30px; }
.subSubRow{ margin-left: 60px; }
.subSubSubRow{ margin-left: 90px; }

/* Vert : #6f6f6f */
/* Gris : #202020 */

/*#cover-background.site-dev {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='300px'><text x='50' y='80' fill='red' fill-opacity='0.2' font-size='20'>Developpement</text></svg>") !important;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c0c7ca !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c0c7ca !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c0c7ca !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c0c7ca !important;
}

.main { /*cursor: pointer;*/ }

.ui-autocomplete-loading {
	background: white url("/images/loading.gif") right center no-repeat;
}

.fa-quote-left { color: #6f6f6f; }

.brl-col2 { columns: 2 100px; }
.brl-col3 { columns: 3 100px; }

/* Menu Mobile */
.button-4 {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: transparent;
  background-image: linear-gradient(to right, currentColor, currentColor), linear-gradient(to right, currentColor, currentColor), linear-gradient(to right, currentColor, currentColor);
  background-position: center top, center, center bottom;
  background-repeat: no-repeat;
  background-size: 100% 28%;
  color: #514537;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform .25s cubic-bezier(0, 1.4, .95, 1.47);
  will-change: transform;
 }
  /*  Removing Firefox's dotted outline on button */
.button-4::-moz-focus-inner {
  border: 0;
 }
  /* Theming opened nav button */
 .button-4:hover,
 .button-4.actif {
  transform: rotate(-90deg) translateZ(0);
 }

 
.fa-spinner { color: #6f6f6f; }



.clear { clear: both; }
.bloc { display: block; }
.floatleft { float: left; }
.floatright { float: right; }
.centre { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.rouge { color: #8ac622; }
.rougevif {color: #FF0000;}
.rougefonce {color: rgb(161, 12, 12);}
.vert { color: #55a744; }
.bleu { color: #025aa5; }
.bold { font-weight: bold; }

.fond-blanc { background: #fff; opacity: 1; }

select {
    font-family: 'FontAwesome', 'Helvetica';
}

input.brl_checkbox {
    margin: 17px 10px;
}
#ficheAdherent input.brl_checkbox {
    margin: 10px 10px;
}

input.brl_checkbox-s {
    /*margin: 5px 0px;*/
	margin-top: 0px;
}

input.brl_input, select.brl_input, textarea.brl_input {
    background: #FFF no-repeat 13px 13px;
    border: none;
    width: 200px;
    line-height: 19px;
    padding: 4px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #C4C4C4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 10px;
    margin: 2px 0px;
}

/* Modification pour le textarea */
textarea.brl_input {
    width: 90%;
    padding: 4px 10px;
    text-indent: 0;
}

input.brl_input-s,select.brl_input-s {
    background: #FFF no-repeat 13px 13px;
    border: none;
    width: 103px;
    line-height: 19px;
    padding: 2px 0 4px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #C4C4C4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 10px;
    margin: 0px 10px 0px 0px;
}

input.brl_input-l, select.brl_input-l {
    background: #FFF no-repeat 13px 13px;
    border: none;
    width: 300px;
    line-height: 19px;
    padding: 4px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #C4C4C4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 10px;
    margin: 2px 10px;
}

input.brl_input-xl, select.brl_input-xl {
    background: #FFF no-repeat 13px 13px;
    border: none;
    width: 350px;
    line-height: 19px;
    padding: 4px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #C4C4C4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 10px;
    margin: 2px 10px;
}

.bouton1 a, .bouton2 a, .bouton3 a,.bouton4 a, .bouton1R a, .bouton2R a, .bouton3R a {
	text-decoration: none;
    display: inline-block;
    margin: 20px;
    color: #514537;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 12px;
	height: 34px;
	font-size: 14px;
    font-weight: 400;
    border: 1px solid #352f2f;
}

.bouton2 a {
	text-decoration: none;
    display: inline-block;
    margin: 0px;
    color: #514537;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 12px;
	height: 34px;
	font-size: 14px;
    font-weight: 400;
	width: 150px;
	margin-right: 16px;
    border: 1px solid #d0d0d0;
}

.bouton3 a {
	font-size: 14px;
	text-decoration: none;
    display: inline-block;
    margin: 0px;
    color: #514537;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 400;
    border: 1px solid #514537;
}
.bouton3 a.actif {
    background-color: #658e1e !important;
    color: #ffffff !important;
}

.bouton3 div.bouton {
	font-size: 14px;
	text-decoration: none;
    display: inline-block;
    margin: 0px;
    color: #514537;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 400;
    border: 1px solid #514537;
	cursor: pointer;
}

.bouton3 a:hover {
    color: #6f6f6f;
    /*background-color: #514537;*/
}

.bouton4 {
    text-align: right;
    padding: 10px 0;
}
.bouton4 a {
    text-align: center;
	text-decoration: none;
    display: inline-block;
    margin: 0px;
    color: #514537;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 12px;
	height: 34px;
	font-size: 14px;
    font-weight: 400;
	width: 145px;
	margin-right: 16px;
    border: 1px solid #d0d0d0;
}



.bouton5 a {
	font-size: 14px;
	text-decoration: none;
    display: inline-block;
    margin: 0px;
    color: #514537;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0px 5px;
    font-weight: 400;
    border: 1px solid #514537;
}
.bouton5 a.actif {
    background-color: #658e1e !important;
    color: #ffffff !important;
}

.bouton5 div.bouton {
	font-size: 14px;
	text-decoration: none;
    display: inline-block;
    margin: 0px;
    color: #514537;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 400;
    border: 1px solid #514537;
	cursor: pointer;
}

.bouton5 a:hover {
    color: #6f6f6f;
    /*background-color: #514537;*/
}



button.btn-default {
    background: #FFF no-repeat 13px 13px;
    border: none;
    width: 103px;
    line-height: 19px;
    padding: 4px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #C4C4C4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 10px;
    margin: 0px 10px;
}
.bootstrap-select.brl_input-s:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 103px;
}
.bootstrap-select.brl_input-l:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 337px;
}



/* preventing from overflow */
html,
body {
  /*overflow-x: hidden;*/
}

/* wrapper styles */
.wrapper {
  position: relative;
  min-height: 100vh;
}
.sidebar {
	display: none;
}


.nav-button-open, .nav-button-close {
	margin: 10px;
}

/* small screens styles */
@media (max-width: 5767px) {
  .sidebar {
	display: block;
    position: absolute;
    top: 0;
    width: 50vw;
	max-width: 200px;
    min-height: 100vh;
  }
  .wrapper {
    transform: translateX(0) translateZ(0);
    transition: transform .2s;
    will-change: transform;
  }

  /* Button deco */
  [class^="nav-button"] {
    display: block;
    z-index: 1;
    height: 3.2rem; width: 3.5rem;
    background-color: transparent;
    background-image: linear-gradient(to right, #008dd1, #008dd1),
      linear-gradient(to right, #008dd1, #008dd1),
      linear-gradient(to right, #008dd1, #008dd1);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    background-size: 3.5rem .7rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
  
  /* here's goes the push left effect */
  body:target .wrapper {
    /*transform: translateX(50vw);*/
    transform: translateX(200px);
  }
  .nav-button-close,
  body:target .nav-button-open {
    display: none;
	position: relative;
  }
  .nav-button-open,
  body:target .nav-button-close {
    display: block;
	position: relative;
  }
  
} /* end of small screen media query */

/* Global deco */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.6em;
  font-family: arial, sans-serif;
}
a {
  color: #fff;
}
.wrapper {
	/*padding: 2rem;*/
	color: #CECECE;
	background:#010211;
}
.sidebar {
  /*padding-top: 1em;*/
  background: #008dd1;
  color: #ddd;
}
nav a {
  display: block;
  padding: .7em;
  margin-bottom: 2px;
  text-decoration: none;
  background: rgba(255,255,255, 0.1);
}

#sidebar-button { padding: 10px 30px; position: absolute; }




.contenuSmall h4 {
	padding-top: .5rem;
	font-size: 1.3rem;
}
.contenuSmall label, .contenuSmall input, .contenuSmall {
	font-size: 12px;
}



html, body {
	color: #CECECE;
	background:#f5f5f5;

	font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;

	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;

	height: 100%;
	line-height: 1.5;
}

img { max-width: 100%; }
a { color: #fff; }

#cover-background {
	background:#f5f5f5;
	/*background: #fff url('../images/notebook-1280538.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
	opacity: 1;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo {
	text-align: right;
	padding: 10px 40px 10px 40px;
	height: 80px;
}
#logo img {
	height: 80px;
}

#page {
    position: relative;
	}

#menu {
	text-align: center;
}

#menu ul {
    padding: 0;
}
#menu li {
	list-style: none;
	display: inline-block;
	padding: 10px;
	position: relative;
}
#menu li a {
	color: #fff;
	text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#menu li a::after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 10px;
    left: 10px;
    height: 1px;
    background: #fff;
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
#menu li a:hover::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}


#contenu { padding: 10px 20px; }



.bloc-centre-100 {
    /*width: 100%;*/
	/*max-width: 1000px;*/
	/*min-height: 400px;*/
    text-align: center;
    margin: 20px 20px;
    background: #6f6f6f;
    padding: 40px;
    /*opacity: 0.8;*/
}
.bloc-centre-b-100 {
    width: 100%;
	/*max-width: 1000px;*/
    text-align: center;
    margin: 20px 20px;
    background: #fff;
    padding: 0px 0px 40px 0px;
    opacity: 1;
    color: #514537;
}

.bloc-t-100 {
    width: 100%;
    /*max-width: 1000px;
    margin: auto;*/
    text-align: center;
    margin-right: -10px;
    margin-left: -10px;
}

.bloc-t-100 > div {
	padding: 10px;
}

.bloc-centre-b-50 {
    width: 50%;
}

.bloc-centre-b-50 > div {
    width: 100%;
}


.brl-panel-bloc-centre {
    margin: auto;
	float: none !important;
}


.brl-panel {
	
}
.brl-panel-row {
    margin-right: -10px;
    margin-left: -10px;
}
.brl-panel-bloc50 a,
.brl-panel-bloc66 a,
.brl-panel-bloc33 a,
.brl-panel-bloc70 a,
.brl-panel-bloc100 a {
	color: #514537;
}
.brl-panel-bloc50 a:hover,
.brl-panel-bloc66 a:hover,
.brl-panel-bloc33 a:hover,
.brl-panel-bloc70 a:hover,
.brl-panel-bloc100 a:hover {
	color: #6f6f6f;
}

.brl-panel-bloc50,
.brl-panel-bloc66,
.brl-panel-bloc33,
.brl-panel-bloc70,
.brl-panel-bloc100 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.brl-panel-bloc33 {
    width: 33.33333333%;
}
.brl-panel-bloc66 {
    width: 66.66666666%;
}
.brl-panel-bloc50 {
    width: 50%;
}
.brl-panel-bloc70 {
    width: 70%;
    min-width: 1100px;
}
.brl-panel-bloc100 {
    width: 100%;
}
.brl-panel-bloc50,
.brl-panel-bloc66,
.brl-panel-bloc33,
.brl-panel-bloc70,
.brl-panel-bloc100 {
}
.brl-panel-bloc50 > div,
.brl-panel-bloc66 > div,
.brl-panel-bloc33 > div,
.brl-panel-bloc70 > div,
.brl-panel-bloc100 > div {
    background: #fff;
	/*height: 450px;*/
	/*max-height: 450px;*/
    color: #464646;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 9px rgba(113, 113, 113, 0.78);
}
.brl-panel-bloc50 > div > div,
.brl-panel-bloc66 > div > div,
.brl-panel-bloc33 > div > div,
.brl-panel-bloc70 > div > div,
.brl-panel-bloc100 > div > div {
    padding: 0px 10px;
}

.bloc-scroll {
	height: 400px;
	max-height: 400px;
    overflow: scroll;
	clear: both;
}


@media (max-width: 1024px) {
	.brl-panel-bloc33 {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.brl-panel-bloc50,
	.brl-panel-bloc66,
	.brl-panel-bloc33 {
		width: 100%;
	}
}


a {
	cursor: pointer;
}



.bloc-centre-b-50 > div > div  {
    width: 100%;
	display: inline-block;
	vertical-align: top;
	/*max-width: 1000px;*/
	height: 450px;
	max-height: 450px;
    text-align: center;
    /*margin: 20px 20px;*/
    background: #fff;
    /*padding: 0px 0px 40px 0px;*/
    opacity: 1;
    color: #514537;
}

.bloc-centre-b-50 .bloc-scroll {
    height: 400px;
    overflow: auto;
    text-align: left;
    padding: 20px;
}

.bloc-centre-50 {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    background: #010211;
    padding: 40px;
    opacity: 0.8;
}
.bloc-signature {
	text-align: right;
    font-style: italic;
	padding-top: 20px;
}

.bloc-rouge { background: #BA130E; opacity: 1; }
.bloc-vert { /*background: #0AA300; opacity: 1; */
	background: #c2e08d;
    opacity: 1;
    border: solid 1px #0AA300;
    color: #292b2c;
	}

.bloc-right-t2 {
    width: 100%;
	/*max-width: 1000px;*/
	min-height: 35px;
    text-align: right;
    margin: 20px auto;
	position: relative;
    color: #514537;
}


.titre-bloc-b {
	background: #008dd1  !important;
    color: #ffffff !important;
    /*border-bottom: 2px solid #97c0d4;*/
    padding: 15px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
	/*width: 95%;*/
    margin: auto;
    -webkit-border-radius: 2px 2px 0 0 !important;
    border-radius: 2px 2px 0 0 !important;
}

.titre-bloc-c {
    background: #b4da72 !important;
    color: #ffffff !important;
    padding: 0px 5px;
    font-weight: bold;
}


.brl-col span, .brl-col-s span, .brl-col-5 span { font-size: 12px; }
.brl-col {
    display: inline-block;
    position: relative;
	padding: 0px 20px;
	text-align: center;
	
	width: 24%;
	
	text-overflow: ellipsis;
    /*overflow: hidden;*/
    white-space: nowrap;
}
.brl-col-5 {
    display: inline-block;
    position: relative;
	padding: 0px 20px;
	text-align: center;
	
	width: 19%;
	
	text-overflow: ellipsis;
    /*overflow: hidden;*/
    white-space: nowrap;
}
.brl-col-s {
    display: inline-block;
    position: relative;
	padding: 0px 20px;
	text-align: center;
	
	width: 16%;
	
	text-overflow: ellipsis;
    /*overflow: hidden;*/
    white-space: nowrap;
}
@media (min-width: 992px) {
	.brl-col:first-child:before { border-left: 0; }
	.brl-col-s:first-child:before { border-left: 0; }
	.brl-col-5:first-child:before { border-left: 0; }
}
@media (max-width: 992px) {
	.brl-col { width: 48%; padding: 10px 20px; }
	.brl-col-s { width: 48%; padding: 10px 20px; }
	.brl-col-5 { width: 48%; padding: 10px 20px; }
	
	.brl-sx-100, #idDivSousMenu a {
		width: 100% !important;
		display: block !important;
		float: none !important;
		margin: 10px 0;
	}
	/*.bloc-right-t2, #idDivSousMenu { width: 90%; }*/

	.bloc-centre-b-50 { width: 100%; float : none !important; }
	
	.titre-bloc-b {
		/*text-align: center;*/
		/*line-height: 50px;*/
	}
}
.brl-col:before,
.brl-col-s:before ,
.brl-col-5:before {
    content: "";
    position: absolute;
    left: 0;
    height: 70px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

.brl-tx-s3 {
    font-size: 30px;
    font-weight: bold;
}


.table-key-word td {
	padding: 0px 10px 0px 0px;
}
.table-lst td {
	padding: 20px 0px 20px 5px;
}
.table-lst tbody tr {
	border-top: 1px solid #ADB2B5;
}
.table-lst tbody tr:hover {
    background: #f5f5f5; /*color: #fff;*/
}

.brl-lst {
	
}
.brl-lst-ligne {
    clear: both;
    padding: 0 10px;
    border-top: solid 1px #c7cdd0;
    line-height: 1.5;
}
.brl-lst-el {
	clear: both;
    padding: 10px;
    border-bottom: solid 2px #97c0d4;
}
.brl-lst-el:first-child {
    border-top: solid 1px #97c0d4;
}
.brl-lst-el:hover {
    background: #f5f5f5; /*color: #fff;*/
}
.brl-lst-el > div {
    /*display: inline;
    float: left;*/
}



#navigation .actif { color: #fff; font-weight: bold; background: #6f6f6f; }
#navigation a:hover { color: #fff; text-decoration: none; background: #6f6f6f; }




@media (max-width: 767px) {
	#menu {
		display: none;
	}
	#sidebar-button {
		display: block;
	}
	.bloc-centre-50 {
		width: 100%;
		padding: 20px;
	}
	.bloc-centre-80 {
		width: 100%;
		padding: 20px;
	}
}




#idDivSousMenu a {
    text-align: center;
}

.center {
    text-align: center;
}

.ui-datepicker-title{
    color:black;
}

.ui-datepicker select {
	padding: 0px;
	margin: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-left, .ui-corner-bl {
    border-radius: 0;
}
.ui-widget-content {
    color : black;
    border: 2px solid #5e5346;
	height: initial;
	background: #F6F6F6;
}
.ui-widget-header {
    border: 1px solid #5e5346;
    background: #5e5346;
    color: #FFFFFF;
    font-weight: bold;
}

.brl-input-calendar {

}

#daterange {
	padding: 6px;
    width: 200px;
    border-radius: 2px;
	display: inline;
}

.daterangepicker {
	color: #514537;
}

table, th, td {
    border-collapse: collapse;
    padding: 2px 10px;
	/*text-align : center;*/
	vertical-align: middle;
}
.table-rouge {
	width: 100%;
}
.table-rouge th {
    background: #5e5346;
    color: #fff;
    font-weight: bold;
}
.table-rouge th {
	border: 2px solid #5e5346;
}
.table-rouge td {
	border: 2px solid #5e5346;
}
.table-rouge tr {
}

.brlselectable [type="checkbox"] { display: none; }
.checkedLine {
    background: #d6d6d6 !important;
}

.displayNone { display: none; }


.brl-title {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.brl-title label {
    background: #fff;
    color: #514537;
	width: 500px;
	max-width: 500px;
	height: auto;
	padding: 10px;
	/*left: 0;*/
	right: 0;
	/*margin-left: -100px;*/
	/*font-family: 'Alegreya SC', Georgia, serif;
	font-weight: 400;	
	font-style: italic;*/
	font-size: 12px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: left;
	border: 4px solid #bbb;
	text-indent: 0px;
	border-radius: 2px;
	position: absolute;
    pointer-events: none;
	bottom: 100px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
}
.brl-title label:before,
.brl-title label:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.brl-title label:after{
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.brl-title:hover label {
	opacity: 1;
	bottom: 70px;
}

form label {
	min-width: 200px;
	text-align: justify;
	/*vertical-align: top;
	padding-top: 12px;*/
	margin-bottom: 0px;
}

form table label {
	min-width: 70px;
	text-align: center;
	vertical-align: middle;
}

label.label-m {
	width: 380px;
}

label.label-l {
	width: 500px;
}

textarea.textarea-m {
	width: 550px;
}

.red {
	color: #FF0000;
}

@media (max-width: 992px) {
	#idDivSousMenu a {
		width: 24% !important;
		float: left !important;
		font-size: 14px;
		height: 60px;
		line-height: 17px;
		padding: 5px 16px;
		margin-right: 1%;
	}
	#idDivSousMenu a i {
		display: block;
	}
	.brl-tx-s3 {
		font-size: 20px;
	}
}

.bouton-titre-box { float: right; }
@media (max-width: 992px) {
	.bouton-titre-box { float: none; padding-top: 10px; }
	.bouton-titre-box a { margin-top: 10px; }
}


#id_keyword_filtre_choix { display:none; position: absolute;background: #6f6f6f;top: 32px;right: 10px;border: 1px solid #514537;padding: 10px 20px; }
#id_keyword_order_choix { display:none; position: absolute;background: #6f6f6f;top: 42px;right: 10px;border: 1px solid #514537;padding: 20px 20px; }
#id_keyword_filtre:hover #id_keyword_filtre_choix { display: block !important; }
#id_keyword_order:hover #id_keyword_order_choix { display: block !important; }
#id_keyword_order_choix a { margin: 5px 0; }


.table-head-fixe {margin: 0 10px;}
.table-key-word thead {background: #fff;}
.table-key-word td {text-align: right;}

span.marqueur {
    background: #6f6f6f;
    color: #fff;
    padding: 9px;
    margin: 0 10px;
	display: inline-block;
}

.textStyle1 {
    padding: 10px 30px;
    background: rgba(138, 198, 34, 0.3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #C4C4C4 inset;
    margin: 0 10px;
}

.doethform h4,
.doethform h5 {
    margin: 40px 0 10px 0;
}

.bloc-droite {
	float: right;
	margin-left: 20px;
}
.bloc-gauche {
	float: left;
	margin-right: 20px;
    margin-top: 10px;
}
.bloc-width40 {
	width: 40%;
}
.bloc-width45 {
	width: 45%;
}
.bloc-width50 {
	width: 50%;
}

.input-s {
	width: 100px !important;
}
.input-l {
	width: 300px !important;
}

.btn-group { margin-bottom: 0px;  margin: 2px 10px 2px 0px;}
.btn-vert,
.btn-rouge,
.btn-bleu {
    background: #e5e5e5;
    border-color: #e5e5e5;
	cursor: pointer;
}
.btn-vert.active,
.btn-vert:hover {
    background: #8ac622;
    border-color: #e5e5e5;
}
.btn-rouge.active,
.btn-rouge:hover {
    background: #d20e0e;
    border-color: #e5e5e5;
}

.btn-bleu.active,
.btn-bleu:hover {
    background: #008dd1;
    border-color: #e5e5e5;
}

.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.badgeVert {
    background: #8ac622;
    padding: 0px 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
	min-width: 80px;
    text-align: center;
    /*display: block;*/
	margin: 2px 2px;
}
.badgeRouge {
    background: #d20e0e;
    padding: 0px 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
	min-width: 80px;
    text-align: center;
    /*display: block;*/
	margin: 2px 2px;
}
.badgeBleu {
    background: #025aa5;
    padding: 0px 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
	min-width: 80px;
    text-align: center;
    /*display: block;*/
	margin: 2px 2px;
}

.input-disable {
	disabled: true;
	pointer-events: none;
}

.log-scroll {
	overflow: scroll;
	width: 100%;
	height: 350px;
}

.brl-lst-el-cel-m-left {
    text-align: left;
    margin-left: 50px;
	min-width: 180px;
}

.brl-lst-el-cel-m {
    text-align: right;
    margin-left: 50px;
	min-width: 180px;
}

.brl-lst-el-cel-m-middle {
    text-align: center;
    margin-left: 50px;
	min-width: 50px;
	max-width: 300px;
}

.brl-lst-el-cel-m.labelSousTotalCel {
    width : 180px;
}.brl-lst-el-cel-m.labelTotalCel {
     width : 180px;
    margin-right : 10px;
 }

.toggle-group label {
	min-width: initial;
}

.has-feedback label~.form-control-feedback {
    top: 5px;
    right: 10px;
}
.brl_input.form-control {
	display: inline-block;
}

#bloc_search > div {
    background: initial;
    border: 0;
    box-shadow: none;
}

.spinner {
    margin: auto;
    width: 50px;
    padding: 50px;
    font-size: 3em;
}

/* MODIFICATION PARTIE SUIVI PROJETS ET PROGRESS BAR */
.row_suivi_projets {
    margin-top: 20px;
}

.progress {
    height: 14px;
    margin-bottom: 5px;
}

.progress-bar {
    font-size: 10px;
    line-height: 13px;
}

/* BOUTON VERT SAVE */
.btn-green-save {
    background-color: #8ac622 !important; 
    color: #fff !important;
}

/* BOUTON SUPPRIMER DANS LES BARRES BLEUES */
.titre-bloc-b .bouton5 {
    margin-top: 7px;
}


.brl-dispo-right {
    margin-bottom: 40px; 
    display: flex; 
    justify-content: flex-end;
}

#displaySelectClient {
    display: none;
}