

.no-print { display: none; }

html, body, .wrapper, #cover-background { background: #fff; }

#logo {
    float: right;
    z-index: 100000;
    position: relative;
}

#contenu div { box-shadow: none; }

.titre-bloc-b {
	background: #fff !important;
	border-bottom: #fff;
	color: #292b2c !important;
}


#sidebar-button { display: none; }
.sidebar { display: none; }
.bouton2 a, .bouton3 a { display:none; }

#page { font-size: 10px; }

.brl-panel-bloc70 {
	width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.input-s {
	/*width: 50px !important;*/
}

.textStyle1 {
	padding: 10px 10px;
	margin: 5px 5px;
}

.doethform h4,
.doethform h5 {
    margin: 30px 0 10px 0;
}

input, select {
	padding : 2px 2px !important;
	margin : 5px !important;
	/*font-size: 12px;*/
	border: 1px solid #292b2c !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

.textStyle1 {
	background-color: #fff !important;
	padding : 5px 10px !important;
	margin : 5px !important;
	border: 1px solid #292b2c !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}


span.marqueur {
	margin: 0px 5px;
	padding: 6px 10px;
}

span.marqueur {
	background-color: #000;
	color: white;
	-webkit-print-color-adjust: exact; 
}

input.brl_input, select.brl_input, textarea.brl_input {
	width: 300px;
}